-var error = message

html
  head
    style.
      body {font-family:arial} p {font-size:15px}
  body
    h3 Change Password
    form(action='/newPasswordPost', method='post' enctype='multipart/form-data')
      input(type='textfield', name='username', placeholder='User Name')
      br
      br
      input(type='password', name='newPassword', placeholder='New Password')
      br
      br
      input(type='password', name='oldPassword', placeholder='Old Password')
      br
      br
      input(type='submit', value='Submit')
      br
      br
    p(style='color:red;')
      i #{error}